/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By TANIOS
 */
body,html {
  font-family: 'Abel', sans-serif;
  color:#846C63;
}

body {
  background-color: #F6F4F1!important;
}
/* COLORS */
a {
  color:#88AAA9!important;
}
/*a:hover {
  color:#88AAA9!important;
}*/
.abrown {
  background-color: #BDB1AD !important;
}
.abrown-footer {
  background-color: rgba(189,177,173,0.1)!important;
}
.agray {
  background-color: #EEEEEE !important;
}
.ablue {
  background-color:#86A8A8 !important;
}
.alblue {
  background-color: #B4C9C8 !important;
}
.alcaramel {
  background-color: #F0E5D7 !important;
}
.aover {
  background-color: rgba(51,51,51,0.2);
}
.acaramel-text {
  color: #E0BB8E !important;
}
.ablue-text {
  color:#86A8A8 !important;
}

.ablue-text.lighten-4 {
 color: #B3C8C7 !important; }
hr {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #846C63;
}
.agray h4, .alcaramel h4 {
  color:#846C63;
}
.btn {
  margin:2px;
}
.btn, .btn-large {
  background-color:#86A8A8!important;
  color:white !important;
}
.btn:hover, .btn-large:hover {
  background-color: #E0BB8E!important;
}
.brown-text.text-darken-4 {
  color:#846C63!important;
}
/* HEADER */
#logo-container {
  /*position: absolute;*/
}
.brand-logo {
  color:#846C63 !important;
  font-family: 'Abel', sans-serif;
  text-transform: uppercase;
  left:50px;
}
.icon {
  position: absolute;
  padding-top: 13px;
  margin-right: 5px;
}
nav ul a:hover {
  background-color: #BDB1AD;
  color:white!important;
}
/*.parallax-container {
    height: 600px;
  }*/
.search {
  margin-bottom: 5px;
}

/* SIDE NAV */

/* INDEX */
.area {
  font-size: 12px;
  line-height: 0rem;
}
.card .card-title {
  font-size: 20px;
}
.card-image {
  max-height: 223px;
}
.title {
  color:#846C63!important;
  text-transform: uppercase;
}

/* BLOG */
.blog-date {
  display: block;
}
.card-title {
  text-transform: uppercase;
}
.card .card-action a {
  color: white!important;

}
/* POST */
.opening-hours {
  margin:0;
}
.detail-title {
  font-weight: 700;
  display: block;
  /*text-transform: uppercase;*/
}
.post h2, .blog h2 {
  text-transform: uppercase;
}
.single-blog p {
  font-size: 18px;
}
/*.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
  vertical-align: middle;
}*/
/*.post img {
  width: 100%;
  height: auto;
}*/

/* CTA */
.search-box {
  /*display: none;*/
}
.email-cta {
  display: none;
}
.success {
  display: none;
}
.progress {
  display: none;
}
#emailField {
  height: 2.5rem;
}

/* BETA */
#joinedBeta {
  display: none;
}

/* FOOTER */
.social-icons ul li {
  display: inline;
}
.social-icons [data-icon]:before {
  font-size: 30px;
}
.page-footer h5 {
  text-transform: uppercase;
}
@media only screen and (min-width : 601px) {
.parallax-container {
    min-height: 420px;
   }
}
/* MOBILE */
@media only screen and (max-width : 600px) {
  .container {
    padding:0 0rem;
  }
  ul.side-nav a {
  font-size: 36px;
  text-transform: uppercase;
  }
  .parallax-container {
    min-height: 275px;
  }
}

/* BEFORE */
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  /*height: 600px;*/
  /*min-height: 380px;*/
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

/* SEARCH */
input.search {
  display: none;
  width: 400px;
  background: #846C63!important;
  color: white;
  padding: 0px 10px;
}

@media only screen and (max-width : 992px) {

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
